<div class="container">
<p>{{#str}} rek_api_error, quizaccess_videocapture {{/str}}</p>

{{#lock}}
<p class="msg-locked">{{#str}} rek_modal_message_locked, quizaccess_videocapture {{/str}}</p>
{{/lock}}
</div>