{{< core/modal }}
    {{$title}}{{#str}} rek_modal_title, quizaccess_videocapture {{/str}}{{/title}}
    {{$body}}

    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-primary" data-action="try-again">{{#str}} rek_try_again, quizaccess_videocapture {{/str}}</button>
        <button type="button" class="btn btn-secondary" data-action="exit-quiz">{{#str}} rek_exit_quiz, quizaccess_videocapture {{/str}}</button>
    {{/footer}}
{{/ core/modal }}