{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template quizaccess_videocapture/preflight_form_no_image_01_upload

    Profile picture upload.

    Example context (json):
    {
        "userid": "The user id",
		"usercontextid": "The user context id",
    }
}}
<div id="container01" class="container upload">
    <div id="formcontainer">

    </div>
    <div class="sectionnavbar">
    <button name="backbtn" class="actionbtn bckbtn">{{#str}} back {{/str}}</button>
    <button type="button" id="sendpicture">{{#str}} continue {{/str}}</button>
    </div>
    <div id="capturedpicture" style="display:none">
        <div class="icon_container">
            <div id="capturedmessage">{{#str}} recogloadercheck, quizaccess_videocapture {{/str}}</div>
            <div id="capturederror" style="display:none">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><br>
                <div id="errormsg-BIO-err-000" class="errmsg">{{#str}} bioerr000, quizaccess_videocapture {{/str}}</div>
                <div id="errormsg-BIO-err-001" class="errmsg">{{#str}} bioerr001, quizaccess_videocapture {{/str}}</div>
                <div id="errormsg-BIO-err-002" class="errmsg">{{#str}} bioerr002, quizaccess_videocapture {{/str}}</div>
                <div id="errormsg-BIO-err-003" class="errmsg">{{#str}} bioerr003, quizaccess_videocapture {{/str}}</div>
                <div id="errormsg-BIO-GEN-ERR" class="errmsg">{{#str}} biogenerr, quizaccess_videocapture {{/str}}</div>
                <div id="errormsg-BIO-API-ERR" class="errmsg">{{#str}} rek_api_error, quizaccess_videocapture {{/str}}</div>
            </div>
        </div>
        <div class="shot_container" style="display:none">
            <div class="photoframe">
                <img id="photo" class="captured_pic_modal" src="" style="display:none">
                <img id="photo_target" class="captured_pic_modal userpicture defaultuserpic" src="">
                <span class="pic_label"><em>{{#str}} captured_pic, quizaccess_videocapture {{/str}}</em></span>
            </div>
            <div id="slhelp" class="helpstr">{{#str}} saveandloginhelp, quizaccess_videocapture {{/str}}</div>
        </div>
        <div id="actionbtnsbar">
            <button name="backbtn2" class="actionbtn bckbtn">{{#str}} back {{/str}}</button>
            <button type="button" id="upldretry" class="actionbtn">{{#str}} uploadanotherpic, quizaccess_videocapture {{/str}}</button>
            <button id="saveandlogin" name="saveandlogin" class="actionbtn">{{#str}} saveandlogin, quizaccess_videocapture {{/str}}</button>
        </div>
        <div id="videocheck" style="display:none">
            <div id="videocapcontainer">
                <video id="video"></video><br>
            </div>
            <div id="recogloader" style="display:none">{{#str}} recogloader, quizaccess_videocapture {{/str}}</div>
            <div id="recogfailed" style="display:none" class="loginfeedback">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <div id="svl-bio-err" class="helpstr">{{#str}} loginfailed, quizaccess_videocapture {{/str}}</div><br>
                <div id="svl-api-error" style="display:none" class="helpstr">{{#str}} rek_api_error, quizaccess_videocapture {{/str}}</div><br>
            </div>
            <div id="recogsuccess" style="display:none"  class="loginfeedback">
                <i class="fa fa-check" aria-hidden="true"></i><br>
                <div class="helpstr">{{#str}} continuetoquiz, quizaccess_videocapture {{/str}}</div><br>
            </div>

        </div>
    </div>
    <canvas id="canvas" style="display:none" width="210px" height="157px"></canvas>
    {{#js}}
        require(['quizaccess_videocapture/face_recognition_no_image_01_upload'],  (noimage01upload) => noimage01upload.init({{userid}}, {{usercontextid}}));
    {{/js}}
</div>
<div style="clear:both"></div>