<div class="videocappreflight" style="display:none">
	<div class="generaltitle">{{#str}} pictureacquisition, quizaccess_videocapture {{/str}}</div>
	<div id="container00" class="container">
		<div class="sectiontitle">{{#str}} noimage00title, quizaccess_videocapture {{/str}}</div>
		<div class="radiocontainer"><input type="radio" id="upload0" name="upload" value="0"> <label for="upload0">{{#str}} noimage00optionshoot, quizaccess_videocapture {{/str}}</label><br></div>
		<div class="radiocontainer"><input type="radio" id="upload1" name="upload" value="1"> <label for="upload1">{{#str}} noimage00optionupload, quizaccess_videocapture {{/str}}</label><br></div>
		<div class="btnbar">
			<button class="continue00">{{#str}} continue {{/str}}</button>
		</div>
	</div>
</div>
<div class="abacobrand">Powered by</div>
<div style="clear:both"></div>